<app-header></app-header>
<app-nav></app-nav>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="
        row
        gx-4 gx-lg-5
        row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center
      "
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/shorts-de-running-dri-fit-femme.jpeg"
            alt="shorts-de-running-dri-fit-femme"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT Femme 10Kt</h5>
              <!-- Product price-->
              $699
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-secondary mt-auto" href="#">Mas opciones</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/shorts-de-running-2-en-1-flex-stride-wild-run.jpeg"
            alt="shorts-de-running-2-en-1-flex-stride-wild-run"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT Wild Run Flex Stride</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$1,300</span
              >
              $1,199
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-success mt-auto" href="#">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/pantalones-tejidos-de-running-dri-fit.jpeg"
            alt="pantalones-tejidos-de-running-dri-fit"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT Challenger Wild Run</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$1,599</span
              >
              $1,399
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/chamarra-de-running-con-estampado-repel-wild-run-windrunner.jpeg"
            alt="chamarra-de-running-con-estampado-repel-wild-run-windrunner"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Repel Wild Run Windrunner</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              $2,350
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/sudadera-con-gorro-sin-cierre-de-french-terry-sportswear.jpeg"
            alt="sudadera-con-gorro-sin-cierre-de-french-terry-sportswear"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Sportswear</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$1,500</span
              >
              $1,350
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/sudadera-de-entrenamiento-dri-fit-get-fit.jpeg"
            alt="sudadera-de-entrenamiento-dri-fit-get-fit"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT Get Fit</h5>
              <!-- Product price-->
              $1,199
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-secondary mt-auto" href="#">Mas opciones</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/joggers-sportswear-femme.jpeg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Sportswear Femme</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$1,200</span
              >
              $1,099
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/sudadera-de-cuello-redondo-sportswear-femme.jpeg"
            alt="sudadera-de-cuello-redondo-sportswear-femme"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Sportswear Femme</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              $1,199
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/top-de-fútbol-de-manga-corta-talla-grande-dri-fit-cr7.jpeg"
            alt="top-de-fútbol-de-manga-corta-talla-grande-dri-fit-cr7"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT CR7</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">$649</span>
              $551
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/calzado-talla-pequeña-flex-runner.jpeg"
            alt="calzado-talla-pequeña-flex-runner"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Flex Runner</h5>
              <!-- Product price-->
              $999
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-secondary mt-auto" href="#">Mas opciones</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-danger text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Oferta
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/camiseta-de-entrenamiento-de-manga-corta-talla-grande-dri-fit-trophy.jpeg"
            alt="camiseta-de-entrenamiento-de-manga-corta-talla-grande-dri-fit-trophy.jpeg"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Dri-FIT Trophy</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through">$449</span>
              $314
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="../Práctica 1/productos/sujetador-deportivo-talla-grande-trophy.jpeg"
            alt="sujetador-deportivo-talla-grande-trophy"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Nike Trophy</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              $349
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn btn-success mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
